<!-- Modal factura -->
<div id="modalEditar" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900/50 backdrop-blur-sm hidden">
        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg w-full max-w-md shadow-lg">
            <div id="modalContent" class="space-y-6">
        </div>
            <div class="flex justify-end space-x-4 mt-6">
                    <button type="button" id="cerrarModal" class="bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded-lg transition duration-200">
                        Cancelar
                    </button>
                    <button type="button" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg transition duration-200">
                        Ver en PDF
                    </button>
                </div>
        </form>
    </div>
</div>