<div class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900">
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form id="formProfile" method="POST" action="{% if usuario %}{% url 'editarPerfil' usuario.id %}{% else %}{% url 'registerProfile' %}{% endif %}">
            
            {% csrf_token %}
            <h5 class="text-xl text-center font-medium text-gray-900 dark:text-white mb-4">{% if usuario %}Editar{% else %}Registrar {% endif %} Perfil del Usuario</h5>
                <div class="mb-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                        {{ form.nombre }}
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido</label>
                        {{ form.apellido }}
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                        {{ form.telefono }}
                    </div>
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Guardar Perfil
                </button>
        </form>
    </div>
</div>
